extends layout
  
block content
  .single
    .single__hero
      img.single__image(src=`/uploads/${store.photo || 'store.png'}`)
      h2.title.title--single
        a(href=`/stores/$‘{store.slug}`) #{store.name}
  .single__details.inner
    pre=h.dump(store)
    img.single__map(src=h.staticMap(store.location.coordinates))
